<% provide(:title, 'Welcome') %>
<p><span style="color: #ff0000">You <b>don't</b> currently have remote control access</span>, contact your administrator to obtain access.</p>
  










<div class="row">
  <P>1You do not currently have access to the system. If you're receiving this message in error, please contact your systems administrator.</P>
  <P>2You do not currently have access to the system. If you're receiving this message in error, please contact your systems administrator.</P>
  <P>3You do not currently have access to the system. If you're receiving this message in error, please contact your systems administrator.</P>
  <P>4You do not currently have access to the system. If you're receiving this message in error, please contact your systems administrator.</P>
</div>