<% provide(:title, 'Welcome') %>
<% provide(:jumbotron, '
  <h1>Welcome <small>to the Auxiliary Attendance Application</small></h1>
'.html_safe)%>

<p>You do <b>not</b> currently have access to the system. Please login. If you're receiving this message in error, please contact your systems administrator.</p>