<div class="row">
  <div class="col-md-12" align="center">
    <H2><b>General Statistics:</b></H2>
    <HR>
  </div>
</div>
<div class="row">
  <div class="col-md-4" align="center">
    This Weeks Sessions:<br>
    Pie chart by teacher<br>
    Total below.
  </div>
  <div class="col-md-4" align="center">
    This Months Sessions:<br>
    Pie chart by teacher<br>
    Total below.
  </div>
  <div class="col-md-4" align="center">
    Unique Student Attendance:<br>
    X students have attended 0 sessions, X have attended 5 or less, X have attened more than 5.
  </div>

</div>